<div class="horario-wrapper">

  <div class="section-header">
    <span class="eyebrow">ATENDIMENTO AO CLIENTE</span>
    <!-- <h1>Horário de <strong>Funcionamento</strong></h1> -->
  </div>
  <div class="section-header">
  <h1>Horário de <span>Funcionamento</span></h1>
  <div class="title-underline"></div>
</div>

  <div class="contact-section">

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.6082753481955!2d-46.57019522489142!3d-23.54658757881004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e93a5ace347%3A0xf3f4e43d61d28fee!2zQ29sw6lnaW8gTHVtacOocmU!5e0!3m2!1spt-BR!2sbr!4v1773150586477!5m2!1spt-BR!2sbr"
        loading="lazy" allowfullscreen>
      </iframe>
    </div>

    <div class="schedule">
      <div class="schedule-box">

        <div class="schedule-top">
          <!-- <div class="icon-wrap">🕗</div> -->
          <div>
            <p class="top-label">Confira nossos</p>
            <h2>Horários de <strong>Funcionamento</strong></h2>
          </div>
        </div>

        <div class="divider"></div>

        <div class="schedule-row">
          <div class="row-badge regular">Regular</div>
          <div class="row-times">
            <span> Manhã: <strong>7h20 às 12h</strong></span>
            <span>Tarde: <strong>13h20 às 18h</strong></span>
          </div>
        </div>

        <div class="divider-soft"></div>

        <div class="schedule-row">
          <div class="row-badge parcial">Parcial</div>
          <div class="row-times">
            <span> <strong>7h às 16h</strong></span>
            <span> <strong>9h30 às 18h</strong></span>
          </div>
        </div>

        <div class="divider-soft"></div>

        <div class="schedule-row">
          <div class="row-badge integral">Integral</div>
          <div class="row-times">
            <span><strong>7h às 18h</strong></span>
          </div>
          <br>
        </div>

        <div class="schedule-footer">
          <span></span>
          <p>Dúvidas?</p>
          <a href="https://whatsapp" target="_blank"> Entre em contato conosco!<i class="fab fa-whatsapp"></i></a>

        </div>

      </div>
    </div>

  </div>
</div>