<div class="form-grid" [formGroup]="form">

  <div class="form-group full">
    <label>Nome Completo</label>

    <input
      pInputText
      formControlName="name"
      placeholder="Ex: Ana Paula Silva"
      [class.input-invalid]="form.get('name')?.invalid && form.get('name')?.touched">

    <small
      class="error-msg"
      *ngIf="form.get('name')?.invalid && form.get('name')?.touched">

      Nome obrigatório — mínimo 3 letras

    </small>
  </div>


  <div class="form-group">

    <label>Data de Nascimento</label>

    <p-calendar
      formControlName="birthDate"
      dateFormat="dd/mm/yy"
      placeholder="dd/mm/aaaa"
      [style]="{'width':'100%'}"
      [ngClass]="{
        'p-invalid':
        form.get('birthDate')?.invalid &&
        form.get('birthDate')?.touched
      }">

    </p-calendar>

    <small
      class="error-msg"
      *ngIf="form.get('birthDate')?.invalid &&
             form.get('birthDate')?.touched">

      Data obrigatória

    </small>

  </div>



</div>