.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.hero-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
    display: inline-block;
  align-items: center;
  background-color: #E2B615;
  font-family: "Nunito", sans-serif;
  color: #ffffff; 
  text-decoration: none;
  padding: 22px 36px; 
  font-size: 15px; /* aumentar tamanho do texto */
  line-height: 1; 
  border-radius: 9999px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 26px rgba(0,0,0,0.12);
  transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
}

.hero-wave {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 10;
}

.hero-wave svg {
  display: block;
  width: calc(105% + 1.3px);
  height: 135px;
}

.hero-wave .shape-fill {
  fill: #fff;
}