<div class="about-block">
  <div class="about-text">
    <span class="eyebrow">COLÉGIO LUMIER</span>

    <h2>
      Quem
      <strong>Somos</strong>
    </h2>

    <p class="subtitle">
      Um lar de amor, descobertas e aprendizado para o seu filho.
    </p>

    <p class="body-text">
      Somos um espaço dedicado ao desenvolvimento infantil...
    </p>
  </div>

  <div class="about-image-wrap">
    <div class="blob blob-blue"></div>

    <img
      src="assets/desenho.jpg"
      alt="Crianças desenhando"
      class="about-img">
  </div>
</div>

<div class="about-block">

  <div class="about-image-wrap">
    <div class="blob blob-yellow"></div>

    <img
      src="assets/escolinha.jpg"
      alt="Colégio Lumier"
      class="about-img">
  </div>

  <div class="about-text">

    <span class="eyebrow">
      NOSSA MISSÃO
    </span>

    <h2>
      Aprender
      <strong>Brincando</strong>
    </h2>

    <p class="subtitle">
      Cada dia é uma nova aventura de descobertas.
    </p>

    <p class="body-text">
      Somos um espaço dedicado ao desenvolvimento infantil...
    </p>

  </div>

</div>