
:host {

display:block;

width:100%;

}



.form-actions {

display:flex;

justify-content:flex-end;

gap:14px;

margin-top:36px;

}



.btn-cancel {

padding:13px 28px;

border-radius:12px;

border:2px solid #e2eaf4;

background:white;

color:#64748b;

font-family:'Nunito';

font-weight:800;

cursor:pointer;

}



.btn-submit {

display:inline-flex;

align-items:center;

gap:9px;


padding:13px 36px;


border-radius:12px;

border:none;


background:#64b5f6;

color:white;


font-family:'Nunito';

font-weight:900;

cursor:pointer;

}