

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  // padding-top: 80px;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
}

.logo-img {
  width: 40px;
  height: auto;
}

.p-menubar.custom-menubar {
  background: #fff;
  border-bottom: 1px solid #eee;

  .p-menuitem-link,
  .p-menuitem-text {
    color: #111;
  }

  .header-link {
    font-size: 1.05rem;
    font-weight: 700;
    letter-spacing: .4px;
    color: #222;
    font-family: inherit;
  }

  .header-links-center .header-link {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .p-menubar.custom-menubar .header-links-center .header-link {
    font-size: 1rem;
  }
}


.p-dialog,
.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content,
.p-dialog .p-dialog-footer,
.p-dialog p,
.p-dialog span:not([class*="pi"]),
.p-dialog h1,
.p-dialog h2,
.p-dialog h3,
.p-dialog label,
.p-dialog button:not([class*="pi"]),
.p-dialog strong,
.p-dialog small {
  font-family: inherit !important;
}


.custom-shape-divider-top {
  position: absolute;
  inset: 0 0 auto;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;

  svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
  }

  .shape-fill {
    fill: #fff;
  }
}